Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # Backend (Python) linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (backend)
        args: [--fix]
        files: ^apps/api/src/
      - id: ruff-format
        name: ruff format (backend)
        files: ^apps/api/src/

  # Backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy (backend)
        entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: tsc
        name: tsc (frontend)
        entry: bash -c 'cd apps/web && npx tsc --noEmit'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

chore(release): 1.4.1-dev.2 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  87016bc72f27997747d648898f7bfafeba19e8f3
Due: none

security: add security headers and remove credential logging
  apps/api/src/routers/accounts.py
  apps/web/nginx.conf
Due: mypy

Notes added by 'git notes add'
  bc0a5696eaba863bfc3ec06c32d8d9b13dbc9a10
Due: none

security: fix timing attacks and strengthen password policy
  apps/api/src/middleware/auth.py
  apps/api/src/routers/accounts.py
  apps/api/src/schemas/requests.py
Due: mypy

Notes added by 'git notes add'
  8011fa85e1672574345657ebdcb530c4bdfc0783
Due: none

feat(helm): add Slack notification configuration
  helm/myelectricaldata/templates/backend/backend-deployment.yaml
  helm/myelectricaldata/templates/common/secrets.yaml
  helm/myelectricaldata/values.yaml
Due: none

Notes added by 'git notes add'
  90ef1a04ee312a6d5ab29767ef0695767dbf928d
Due: none

chore(helm): release 1.1.0-dev.1 [skip ci]
  helm/CHANGELOG.md
  helm/myelectricaldata/Chart.yaml
Due: none

Notes added by 'git notes add'
  fe19878b3ea7cb8c34a4b138a20a783c23f91a55
Due: none

fix(auth): preserve query params in OAuth callback redirect
  apps/web/src/App.tsx
  apps/web/vite.config.ts
  docker-compose.yml
Due: eslint, tsc

Notes added by 'git notes add'
  a0876d7d7282444cf7110644d2371b83f063e614
Due: none

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  2c8c7fd925cc0f9af8accad3a32ed2e204ff5947
Due: none

feat(roles): add persistent default roles and CRUD operations
  apps/api/src/models/seed.py
  apps/api/src/routers/roles.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/requests.py
  apps/web/src/api/roles.ts
  apps/web/src/pages/AdminRoles.tsx
Due: mypy, eslint, tsc

chore(release): 1.6.0-dev.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  dd134dad7a4e9220f83353aed1cf6ad43088ba95
Due: none

feat(ui): display frontend and backend versions in admin menu
  apps/api/src/config/__init__.py
  apps/api/src/config/version.py
  apps/api/src/main.py
  apps/web/src/api/info.ts
  apps/web/src/components/Layout.tsx
  apps/web/src/vite-env.d.ts
  apps/web/vite.config.ts
Due: mypy, eslint, tsc

fix(api): add type annotation to fix mypy error in version.py
  apps/api/src/config/version.py
Due: mypy

Notes added by 'git notes add'
  15491603ba6b475dad373cfae48b2e414a41465e
Due: none

Notes added by 'git notes add'
  d2d5915c1521cf3b6362558958c9faafe6dd9f51
Due: none

chore(release): 1.7.0-dev.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  550f233510f248ceea272f949d489f5c98b3818a
Due: none

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  10710d2b36dae3908b8896989f58a0282a1a4e0d
Due: none

chore(release): 1.8.0-dev.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  098d6f02c80ffd0cb524d86407a19d138a305a0c
Due: none

Notes added by 'git notes add'
  9cc6221522ddf97566e858fa727ec4fb1ac533f5
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

feat: Add new pricing calculators for various offers
  .claude/skills/offer/SKILL.md
  .claude/skills/offer/steps/01-explore.md
  .claude/skills/offer/steps/02-plan.md
  .claude/skills/offer/steps/03-implement.md
  .claude/skills/offer/steps/04-test.md
  .claude/skills/offer/steps/05-seed.md
  .claude/skills/offer/steps/06-validate.md
  .claude/skills/offer/steps/bug-analyze.md
  .claude/skills/offer/steps/bug-fix.md
  .claude/skills/offer/steps/delete.md
  .claude/skills/offer/steps/info.md
  apps/api/alembic/versions/20260126_0013_remove_pricing_types_table.py
  apps/api/src/models/__init__.py
  apps/api/src/models/database.py
  apps/api/src/models/energy_provider.py
  apps/api/src/models/seed.py
  apps/api/src/routers/energy_offers.py
  apps/api/src/services/offers/__init__.py
  apps/api/src/services/offers/base.py
  apps/api/src/services/offers/base_offer.py
  apps/api/src/services/offers/ejp.py
  apps/api/src/services/offers/hc_hp.py
  apps/api/src/services/offers/hc_nuit_weekend.py
  apps/api/src/services/offers/registry.py
  apps/api/src/services/offers/seasonal.py
  apps/api/src/services/offers/tempo.py
  apps/api/src/services/offers/weekend.py
  apps/web/src/api/energy.ts
  apps/web/src/types/api.ts
Due: mypy, eslint, tsc

feat: mettre à jour le package valkey à la version 0.13.0
  helm/myelectricaldata-server/charts/valkey-0.13.0.tgz
Due: none

Notes added by 'git notes add'
  c84abe77ed415496ba505c41438d007daaa55bed
Due: none

feat: mise à jour des configurations mypy et ESLint, amélioration de la gestion des erreurs de token et refactorisation des appels d'API
  apps/api/pyproject.toml
  apps/api/src/routers/enedis.py
  apps/api/src/routers/oauth.py
  apps/api/src/routers/pdl.py
  apps/api/src/scheduler.py
  apps/web/.eslintrc.cjs
  apps/web/package.json
  apps/web/src/pages/Consumption.tsx
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionFetch.ts
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  apps/web/src/pages/Simulator.tsx
  apps/web/src/utils/userPreferences.ts
Due: mypy, eslint, tsc

Notes added by 'git notes add'
  12c7c8757d8ca2dd192b5105a91594af33dc9334
Due: none

feat: refactor global environment declaration for runtime configuration in vite-env.d.ts
  apps/web/src/api/client.ts
  apps/web/src/hooks/useAppMode.ts
  apps/web/src/pages/ApiDocs.tsx
  apps/web/src/pages/ConsentRedirect.tsx
  apps/web/src/pages/OAuthCallback.tsx
  apps/web/src/pages/VerifyEmail.tsx
  apps/web/src/vite-env.d.ts
Due: eslint, tsc

chore(helm): release 1.2.0-dev.2 [skip ci]
  helm/CHANGELOG.md
  helm/myelectricaldata-client/Chart.yaml
Due: none

Notes added by 'git notes add'
  1af0736b6ae9faed583788d3fab3fa7f907e9b74
Due: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none
