Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (backend)
  entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: tsc (frontend)
  entry: bash -c 'cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  ee6b831b50be86705fd6e5169bd4bd0641dae707
Due: none

refactor: update button styles from gradient to primary and adjust export button widths across multiple components
  apps/api/src/models/client_mode.py
  apps/api/src/models/database.py
  apps/api/src/routers/enedis_client.py
  apps/api/src/routers/energy_offers.py
  apps/api/src/routers/generation_forecast.py
  apps/api/src/scheduler.py
  apps/api/src/services/sync.py
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/pages/Balance/components/MonthlyComparison.tsx
  apps/web/src/pages/Balance/components/NetBalanceCurve.tsx
  apps/web/src/pages/Balance/components/YearlyTable.tsx
  apps/web/src/pages/ConsumptionEuro/components/EuroCostCards.tsx
  apps/web/src/pages/ConsumptionEuro/components/EuroMonthlyBreakdown.tsx
  apps/web/src/pages/ConsumptionEuro/components/EuroYearlyChart.tsx
  apps/web/src/pages/ConsumptionEuro/components/OfferPricingCard.tsx
  apps/web/src/pages/ConsumptionEuro/index.tsx
  apps/web/src/pages/ConsumptionKwh/components/AnnualCurve.tsx
  apps/web/src/pages/ConsumptionKwh/components/HcHpDistribution.tsx
  apps/web/src/pages/ConsumptionKwh/components/ModernButton.tsx
  apps/web/src/pages/ConsumptionKwh/components/MonthlyHcHp.tsx
  apps/web/src/pages/ConsumptionKwh/components/PowerPeaks.tsx
  apps/web/src/pages/ConsumptionKwh/components/YearlyConsumption.tsx
  apps/web/src/pages/ConsumptionKwh/components/YearlyStatCards.tsx
  apps/web/src/pages/France.tsx
  apps/web/src/pages/Production/components/AnnualProductionCurve.tsx
  apps/web/src/pages/Production/components/YearlyProduction.tsx
  apps/web/src/pages/Production/components/YearlyProductionCards.tsx
  apps/web/src/pages/Simulator.tsx
Due: mypy, eslint, tsc

Notes added by 'git notes add'
  b02b6484b645f5f8a2f9ad597b8882330d48b956
Due: none

feat: Update various pages and components for improved functionality and user experience
  .claude/skills/web/SKILL.md
  apps/web/src/pages/Simulator.tsx
  docs/specs/pages/00-signup.md
  docs/specs/pages/04-bilan.md
  docs/specs/pages/05-simulator.md
  docs/specs/pages/07-tempo.md
  docs/specs/pages/08-ecowatt.md
  docs/specs/pages/09-france.md
  docs/specs/pages/20-faq.md
  docs/specs/pages/21-api-docs.md
  docs/specs/pages/22-settings.md
  docs/specs/pages/contributes/01-offers.md
Due: eslint, tsc

Notes added by 'git notes add'
  885ccfc1023f91dfa0ac1715d2a3743f434580b6
Due: none

fix: correct typo in comments for existing secrets configuration
  helm/myelectricaldata-client/values.yaml
Due: none

Notes added by 'git notes add'
  3759fa836f0e37a06229a2a2993bc33190b23c08
Due: none

feat(web): ameliorer le simulateur avec selecteur de periode et UX
  apps/web/src/components/PeriodSelector.tsx
  apps/web/src/pages/Simulator.tsx
  docs/specs/pages/05-simulator.md
Due: eslint, tsc

Notes added by 'git notes add'
  a50ea56569a40085fc3cabd4de91d0f47ef030f7
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  f3a37eaa3e64f825816083b1cfd7e85f1b020063
Due: none

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  ebb66ae7d927803977758eb2323e529f29ee82e1
Due: none

feat: add AI mode for JSON import of offers
  apps/api/src/routers/energy_offers.py
  apps/api/src/services/slack.py
  apps/api/uv.lock
  apps/web/src/api/energy.ts
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  docs/specs/pages/contributes/01-offers.md
Due: mypy, eslint, tsc

fix(contribute): corriger les erreurs de build CI du mode IA
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  docs/specs/pages/contributes/01-offers.md
Due: eslint, tsc

Notes added by 'git notes add'
  8c5ab43db766e12c3a80b9b53ea16e3387eb7823
Due: none

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  54c2b570f0a7c076fa54f6a610c4c1b9e3044b57
Due: none

Notes added by 'git notes add'
  fd6a16ae8bafc0ddb4d378a5316622dd13ef0a01
Due: none

Notes added by 'git notes add'
  e659ee6a0f4845c60022740754dfe971c18bad73
Due: none

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  c905af34349dca155d9432e26a192acef3ef91d4
Due: none

Notes added by 'git notes add'
  c163c6eac5db7c2221302917c1a22179218c63e3
Due: none

refactor: supprimer l'offre UFC de la configuration des sidebars
  apps/docs/sidebars.ts
Due: none

chore(release): 1.18.2 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  912e3fcb61d07faa94b98a678f295a2f3f79876a
Due: none

Notes added by 'git notes add'
  2b8db0b10f1b2c0399a75b6e1d41f079eef428d3
Due: none

Notes added by 'git notes add'
  149f680a7fc8d0863201b9db1d6989f7d114d88f
Due: none

Notes added by 'git notes add'
  98fda774ba3d5b252cfdf23737b4475ff5da49c3
Due: none

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

feat: inclure le support des offres périmées dans le simulateur et l'affichage des sélecteurs
  apps/api/src/routers/energy_offers.py
  apps/web/src/components/OfferSelector.tsx
  apps/web/src/pages/Simulator.tsx
Due: mypy, eslint, tsc

Notes added by 'git notes add'
  75516ecca8b040056b490adbc21a03012c012f39
Due: none

feat: add ValidityPeriodManager component with tests and utility functions
  apps/api/alembic/versions/20260210_clean_offer_names.py
  apps/api/src/models/seed.py
  apps/api/src/routers/energy_offers.py
  apps/api/src/services/price_scrapers/alpiq_scraper.py
  apps/api/src/services/price_scrapers/alterna_scraper.py
  apps/api/src/services/price_scrapers/edf_scraper.py
  apps/api/src/services/price_scrapers/ekwateur_scraper.py
  apps/api/src/services/price_scrapers/enercoop_scraper.py
  apps/api/src/services/price_scrapers/engie_scraper.py
  apps/api/src/services/price_scrapers/mint_scraper.py
  apps/api/src/services/price_scrapers/octopus_scraper.py
  apps/api/src/services/price_scrapers/primeo_scraper.py
  apps/api/src/services/price_scrapers/totalenergies_scraper.py
  apps/api/src/services/price_scrapers/vattenfall_scraper.py
  apps/api/uv.lock
  apps/web/package-lock.json
  apps/web/src/api/energy.ts
  apps/web/src/components/OfferSelector.tsx
  apps/web/src/components/PeriodSelector.tsx
  apps/web/src/pages/Admin/Contributions.tsx
  apps/web/src/pages/Contribute/__tests__/Contribute.test.tsx
  apps/web/src/pages/Contribute/__tests__/NewContribution.test.tsx
  apps/web/src/pages/Contribute/__tests__/PowerVariantForm.test.tsx
  apps/web/src/pages/Contribute/__tests__/ValidityPeriodManager.test.tsx
  apps/web/src/pages/Contribute/__tests__/contribute.utils.test.ts
  apps/web/src/pages/Contribute/__tests__/test-helpers.tsx
  apps/web/src/pages/Contribute/components/ValidityPeriodManager.tsx
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  apps/web/src/pages/Contribute/components/tabs/NewContribution.tsx
  apps/web/src/pages/Contribute/index.tsx
  apps/web/src/pages/Contribute/types/contribute.types.ts
  apps/web/src/pages/Settings.tsx
  apps/web/src/pages/Simulator.tsx
  apps/web/src/stores/datePreferencesStore.ts
  apps/web/vitest.config.ts
  docs/specs/pages/contributes/02-new-offers.md
  docs/specs/pages/contributes/exemple-import-json.md
Due: mypy, eslint, tsc

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  14a5c80d3b2e6080005c6bb2740ba44a057324f3
Due: none

feat: améliorer la gestion des offres en ajoutant la période de validité et en construisant un JSON détaillé des offres existantes
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
Due: eslint, tsc

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  2500702dc28825d6a2871d3df32a3828120d6f86
Due: none

test(api): MED-14 / tests RED et fixtures Enedis Data Connect 2026
  apps/api/tests/fixtures/enedis_2026/donnees_generales.json
  apps/api/tests/fixtures/enedis_2026/erreur_adam_err0123.json
  apps/api/tests/fixtures/enedis_2026/erreur_comptage_non_souscrit.json
  apps/api/tests/fixtures/enedis_2026/mesure_consommation_quotidienne.json
  apps/api/tests/fixtures/enedis_2026/mesure_courbe_de_charge_consommation.json
  apps/api/tests/fixtures/enedis_2026/mesure_courbe_de_charge_production.json
  apps/api/tests/fixtures/enedis_2026/mesure_production_quotidienne.json
  apps/api/tests/fixtures/enedis_2026/mesure_puissance_conso_max_quotidienne.json
  apps/api/tests/fixtures/enedis_2026/situation_contrat_autoconsommation.json
  apps/api/tests/fixtures/enedis_2026/situation_contrat_consommateur.json
  apps/api/tests/fixtures/enedis_2026/synth_contrat_autoconsommation.json
  apps/api/tests/fixtures/enedis_2026/synth_contrat_consommateur.json
  apps/api/tests/fixtures/enedis_2026/v5_consumption_load_curve.json
  apps/api/tests/unit/conftest.py
  apps/api/tests/unit/test_enedis_adapter_2026.py
  apps/api/tests/unit/test_enedis_contract.py
  apps/api/tests/unit/test_enedis_format.py
  apps/api/tests/unit/test_settings_enedis.py
  docs/external-apis/enedis-api/data-connect-2026/Alimentation-sync-auto.yaml
  docs/external-apis/enedis-api/data-connect-2026/Donnees-generales-sync-auto.yaml
  docs/external-apis/enedis-api/data-connect-2026/Services-souscrits.yaml
  docs/external-apis/enedis-api/data-connect-2026/Situation-comptage-auto.yaml
  docs/external-apis/enedis-api/data-connect-2026/Situation-contractuelle-sync-auto.yaml
  docs/external-apis/enedis-api/data-connect-2026/Synthese-contractuelle-sync-auto.yaml
  docs/external-apis/enedis-api/data-connect-2026/swagger_mesure_synchrone_auto_v2.yaml
Due: none

feat(api): MED-14 / configuration Data Connect 2026 (ENEDIS_API_MODE, URL authorize)
  apps/api/src/config/settings.py
  docker-compose.server.yml
  helm/myelectricaldata-server/templates/common/configmap.yaml
  helm/myelectricaldata-server/values.yaml
Due: mypy

Path conditions:
  mypy: any of: ^apps/api/src/.*\.py$
  eslint: any of: ^apps/web/src/.*\.(ts|tsx)$
  tsc: any of: ^apps/web/src/.*\.(ts|tsx)$
