Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # Backend (Python) linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (backend)
        args: [--fix]
        files: ^apps/api/src/
      - id: ruff-format
        name: ruff format (backend)
        files: ^apps/api/src/

  # Backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy (backend)
        entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: tsc
        name: tsc (frontend)
        entry: bash -c 'cd apps/web && npx tsc --noEmit'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

Notes added by 'git notes add'
  5df7c2952faf0d59634a904b7191f3046672d20e
Due: none

docs(api): MED-19 / fin de période exclue dans l'OpenAPI et le flux de cache
  apps/api/src/routers/enedis.py
  docs/server-mode/data-flow.md
Due: mypy

fix(export): MED-21 / tempo et ecowatt de l'exporteur mqtt générique
  apps/api/src/services/exporters/mqtt.py
Due: mypy

fix(export): MED-21 / entity_id suggéré et préfixe de discovery personnalisé
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

fix(export): MED-21 / coût du panneau énergie au prix du jour
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

docs(export): MED-21 / entités réellement créées par les exports home assistant et mqtt
  apps/web/src/pages/HomeAssistant.tsx
  docs/local-client/exporters.md
  docs/local-client/integrations/home-assistant.md
  docs/local-client/integrations/mqtt.md
Due: eslint, tsc

fix(export): MED-21 / corrections de la revue du coût et des tests
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_exporter_ha_cout.py
  apps/api/tests/unit/test_exporter_mqtt_tempo_ecowatt.py
Due: mypy

docs(export): MED-21 / corrections de la revue de la doc mqtt et home assistant
  docs/local-client/exporters.md
  docs/local-client/integrations/home-assistant.md
  docs/local-client/integrations/mqtt.md
Due: none

fix(export): specify mean_type and unit_class in HA recorder/import_statistics metadata
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

fix(client): use gateway cache by default for GET requests
  apps/api/src/adapters/myelectricaldata.py
Due: mypy

fix(export): MED-21 / pas de coût pour zen flex servie en seasonal
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_exporter_ha_cout.py
  docs/local-client/integrations/home-assistant.md
Due: mypy

feat(api): MED-17 / table max_power_data et contraintes NULLS NOT DISTINCT
  apps/api/alembic/versions/20260216_1230_add_max_power_data_table.py
  apps/api/alembic/versions/20260223_fix_nulls_not_distinct.py
  apps/api/src/models/__init__.py
  apps/api/src/models/client_mode.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

fix(web): MED-17 / échapper le HTML des réponses de test de PDLDetails (XSS)
  apps/web/src/components/PDLDetails.tsx
  apps/web/src/utils/__tests__/highlightJson.test.ts
  apps/web/src/utils/highlightJson.ts
Due: eslint, tsc

feat(api): MED-17 / puissance max servie depuis la base locale, lots détaillés vides en attente
  apps/api/src/routers/enedis_client.py
  apps/api/src/services/local_data.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

test(api): MED-17 / tests RED des correctifs de la PR #110 (mode client)
  apps/api/tests/unit/test_client_mode_pr110.py
Due: none

feat(api): MED-17 / scheduler sobre, hôtes acceptés paramétrables, exports après sync
  apps/api/src/config/settings.py
  apps/api/src/main.py
  apps/api/src/routers/ecowatt.py
  apps/api/src/routers/export.py
  apps/api/src/scheduler.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

fix(web): MED-17 / J-1 enfin affiché, invalidation des requêtes et calendrier détaillé
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/hooks/useUnifiedDataFetch.ts
  apps/web/src/pages/ConsumptionEuro/index.tsx
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionCalcs.ts
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionFetch.ts
  apps/web/src/pages/ConsumptionKwh/index.tsx
  apps/web/src/pages/Production/hooks/useProductionFetch.ts
  apps/web/src/pages/Production/index.tsx
Due: eslint, tsc

feat(api): MED-17 / get_day_total se replie sur les mesures détaillées
  apps/api/src/services/statistics.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

feat(api): MED-17 / sync du mode client : J-1, rafraîchissement et puissance max
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

chore: MED-17 / ignorer les dossiers @eaDir des NAS Synology
  .gitignore
Due: none

feat(api): MED-17 / l'adapter du mode client demande le cache serveur
  apps/api/src/adapters/myelectricaldata.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

fix(web): MED-17 / corrections de la revue : découpage annuel en fin exclue, dédup des années
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionCalcs.ts
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionData.ts
  apps/web/src/pages/Production/hooks/useProductionData.ts
Due: eslint, tsc

fix(api): MED-17 / corrections de la revue : sync unique, rafraîchissement sûr, use_cache transmis
  apps/api/src/adapters/myelectricaldata.py
  apps/api/src/routers/enedis_client.py
  apps/api/src/scheduler.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

fix(web): MED-17 / fin de période alignée sur MED-19 (fin incluse côté interface)
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/hooks/useUnifiedDataFetch.ts
  apps/web/src/pages/ConsumptionEuro/index.tsx
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionData.ts
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionFetch.ts
  apps/web/src/pages/ConsumptionKwh/index.tsx
  apps/web/src/pages/Production/hooks/useProductionData.ts
  apps/web/src/pages/Production/hooks/useProductionFetch.ts
  apps/web/src/pages/Production/index.tsx
Due: eslint, tsc

feat(export): MED-17 / préfixe des entités home assistant configurable
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_client_mode_pr110.py
  apps/api/tests/unit/test_exporters_hp_hc.py
Due: mypy

feat(web): MED-17 / aperçu des entités home assistant selon le préfixe
  apps/web/src/pages/HomeAssistant.tsx
Due: eslint, tsc

docs: MED-17 / planning du scheduler, hôtes acceptés et valeurs par défaut des exports
  docs/local-client/configuration.md
Due: none

feat(web): MED-17 / valeurs par défaut des formulaires d'export au démarrage du conteneur
  apps/web/entrypoint.sh
  apps/web/src/pages/HomeAssistant.tsx
  apps/web/src/pages/MQTT.tsx
  apps/web/src/pages/VictoriaMetrics.tsx
  apps/web/src/utils/__tests__/runtimeDefaults.test.ts
  apps/web/src/utils/runtimeDefaults.ts
  apps/web/src/vite-env.d.ts
  docker-compose.yml
  helm/myelectricaldata-client/values.yaml
Due: eslint, tsc

fix(export): MED-17 / tempo : jours restants par quota et prix de l'offre sélectionnée
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

test(api): MED-22 / noms d'offres canoniques et migration clean_offer_names_v2
  apps/api/tests/integration/test_migration_clean_offer_names_v2.py
  apps/api/tests/unit/test_offer_names.py
Due: none

fix(web): MED-22 / import IA, repli sur l'offre expiree la plus recente
  apps/web/src/pages/Contribute/hooks/useAIImport.ts
Due: eslint, tsc

fix(web): MED-22 / offres expirees sans suppression ni duplication en mode edition
  apps/web/src/pages/Contribute/__tests__/OfferRow.test.tsx
  apps/web/src/pages/Contribute/components/alloffers/ExpiredOffersSection.tsx
  apps/web/src/pages/Contribute/components/alloffers/OfferRow.tsx
Due: eslint, tsc

fix(web): MED-22 / periodsOverlap, une offre sans date face a une grille datee ne chevauche pas
  apps/web/src/pages/Contribute/__tests__/offerPricing.test.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: eslint, tsc

docs(web): MED-22 / README de la page Contribute apres le decoupage d'AllOffers
  apps/web/src/pages/Contribute/README.md
Due: none

fix(api): MED-22 / nettoyage complet des noms dans une nouvelle migration
  apps/api/alembic/versions/20260210_clean_offer_names.py
  apps/api/alembic/versions/20261005_clean_offer_names_v2.py
Due: none

fix(web): MED-22 / libelles, couleurs et periodes comme avant le decoupage
  apps/web/src/pages/Contribute/__tests__/offerPricing.test.ts
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  apps/web/src/pages/Contribute/hooks/useAllOffersState.ts
  apps/web/src/pages/Contribute/types/allOffers.types.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: eslint, tsc

fix(api): MED-22 / normaliser le nom des offres a l'application d'une contribution
  apps/api/src/routers/energy_offers.py
  apps/api/src/services/offer_names.py
  apps/api/tests/unit/test_offer_names.py
Due: mypy

fix(api): MED-22 / recopier la puissance dans power_kva avant de la retirer du nom
  apps/api/alembic/versions/20261005_clean_offer_names_v2.py
  apps/api/tests/integration/test_migration_clean_offer_names_v2.py
Due: none

fix(web): MED-22 / import IA, recharger les offres du serveur avant comparaison
  apps/web/src/pages/Contribute/hooks/useAIImport.ts
Due: eslint, tsc

fix(web): MED-22 / getCleanOfferName sur les memes regles que le backend
  apps/web/src/pages/Contribute/__tests__/offerPricing.test.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: eslint, tsc
