Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # Backend (Python) linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (backend)
        args: [--fix]
        files: ^apps/api/src/
      - id: ruff-format
        name: ruff format (backend)
        files: ^apps/api/src/

  # Backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy (backend)
        entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: tsc
        name: tsc (frontend)
        entry: bash -c 'cd apps/web && npx tsc --noEmit'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

fix(web): MED-29 / revue de la période d'analyse en mode client
  .claude/rules/modes.md
  apps/web/src/components/AnalysisPeriodSettings.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/__tests__/AnalysisPeriodSettings.test.tsx
  apps/web/src/components/__tests__/Layout.preferences.test.tsx
  apps/web/src/stores/__tests__/datePreferencesStore.test.ts
  apps/web/src/stores/datePreferencesStore.ts
Due: eslint, tsc

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  95a86a04fa9d34e858d374b66742cfa7a7a3b723
Due: none

docs(export): MED-18 / modes d'import des statistiques et réparation des séries home assistant
  docs/local-client/integrations/home-assistant.md
Due: none

test(export): MED-18 / tests rouges de la seconde revue de l'import incrémental
  apps/api/tests/unit/test_exporter_ha_incremental.py
Due: none

test(export): MED-18 / tests rouges des trouvailles de revue de l'import incrémental
  apps/api/tests/unit/test_exporter_ha_incremental.py
Due: none

test(export): MED-18 / tests rouges de l'import incrémental home assistant
  apps/api/tests/unit/test_exporter_ha_incremental.py
Due: none

fix(export): MED-18 / dernière somme des séries absentes de la fenêtre de 30 jours
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

fix(export): MED-18 / sommes cumulées continues en import incrémental home assistant
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

fix(export): MED-18 / point de reprise par série en import incrémental home assistant
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_exporter_ha_cout.py
  apps/api/tests/unit/test_exporter_ha_incremental.py
Due: mypy

docs(export): MED-18 / import différentiel par point de reprise, rejeu et arrêts
  docs/local-client/integrations/home-assistant.md
Due: none

docs(export): MED-18 / import différentiel sans rejeu et ses limites
  docs/local-client/integrations/home-assistant.md
Due: none

fix(export): MED-18 / import incrémental sans rejeu, repli sans suppression
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

chore(release): 2.4.2 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  cd608cb6eac63a69d67c58e418aaa0c25e8bf5a2
Due: none

test(api): MED-30 / tests rouges du cache jour par jour de la production
  apps/api/tests/unit/test_enedis_fin_exclue.py
Due: none

fix(api): MED-30 / cache jour par jour de /production/daily et /production/detail
  apps/api/src/routers/admin.py
  apps/api/src/routers/enedis.py
  apps/api/tests/unit/test_enedis_fin_exclue.py
  docs/server-mode/data-flow.md
Due: mypy

fix(api): MED-30 / corrections de la revue du cache jour par jour de la production
  apps/api/src/routers/enedis.py
  apps/api/tests/unit/test_enedis_fin_exclue.py
  docs/server-mode/data-flow.md
Due: mypy

chore(release): 2.4.3 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  d3d4cb7dbde3fcd44d9f42cf24da1d6bd0b4ffd3
Due: none

fix(export): mean_type et unit_class dans les métadonnées de recorder/import_statistics (HA 2025.11+)
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_exporter_ha_statistics_metadata.py
Due: mypy

fix(web): make mobile menu scrollable and lock background scroll
  apps/web/src/components/Layout.tsx
Due: eslint, tsc

fix(export): support MQTT in scheduler and correct models imports in mqtt exporter
  apps/api/src/scheduler.py
Due: mypy

feat(client, ha): export des couts, puissance max et capteur de depassement
  apps/api/src/routers/export.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/exporters/mqtt.py
  apps/api/src/services/statistics.py
  apps/api/tests/unit/test_exporter_max_power.py
  apps/api/tests/unit/test_exporters_cost.py
  apps/web/src/api/export.ts
  apps/web/src/pages/HomeAssistant.tsx
Due: mypy, eslint, tsc

fix(sync): gracefully handle gateway 404 on Zen Flex calendar
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_sync_zen_flex.py
Due: mypy

fix(sync): prise en compte du HTTP 429 et résilience de l'adresse
  apps/api/src/adapters/__init__.py
  apps/api/src/adapters/myelectricaldata.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_sync_rate_limit.py
Due: mypy

fix(api): MED-30 / plage rejetée par ADAM-ERR0123 mémorisée 24 h
  apps/api/src/routers/enedis.py
  apps/api/tests/unit/test_enedis_fin_exclue.py
  docs/server-mode/data-flow.md
Due: mypy

chore(release): 2.4.4 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  8434a2e75ba5855165a702163911e4049a5bbc76
Due: none

fix(ha): use valid MDI icon for max power over subscribed binary sensor
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

fix(web): prise en compte du pas par point (PT15M/PT30M) dans les calculs de consommation
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/pages/ConsumptionEuro/hooks/useConsumptionEuroCalcs.ts
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionCalcs.ts
  apps/web/src/pages/Production/hooks/useProductionCalcs.ts
Due: eslint, tsc

fix(web): ajustements responsives sur mobiles et petits écrans
  apps/web/src/components/PDLCard.tsx
  apps/web/src/components/PageHeader.tsx
  apps/web/src/pages/Balance/components/BalanceSummaryCards.tsx
  apps/web/src/pages/Balance/index.tsx
  apps/web/src/pages/HomeAssistant.tsx
  apps/web/src/pages/MQTT.tsx
Due: eslint, tsc

chore(api): sync uv.lock with pyproject.toml
  apps/api/uv.lock
Due: none

fix(api): resolve static dir and pyproject.toml relative to the package
  apps/api/src/config/version.py
  apps/api/src/main.py
Due: mypy
