Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (backend)
  entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
  language: system
  pass_filenames: false

eslint:
  name: eslint (frontend)
  entry: bash -c 'cd apps/web && npm run lint'
  language: system
  pass_filenames: false

tsc:
  name: tsc (frontend)
  entry: bash -c 'cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat(api)!: MED-14 / adapter Enedis sur les API Data Connect 2026
  apps/api/src/adapters/enedis.py
  apps/api/src/adapters/enedis_format.py
  apps/api/tests/unit/test_enedis_adapter_2026.py
Due: mypy

feat(api): MED-14 / parseur de contrat unique et callback autorisation_id
  apps/api/src/routers/oauth.py
  apps/api/src/routers/pdl.py
  apps/api/src/services/enedis_contract.py
  apps/api/tests/unit/test_enedis_contract.py
  apps/api/tests/unit/test_oauth_autorisation.py
Due: mypy

feat(api)!: MED-14 / routers serveur au format Data Connect 2026
  apps/api/src/adapters/enedis_format.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/enedis.py
  apps/api/tests/unit/test_enedis_format.py
  apps/api/tests/unit/test_enedis_router_format.py
Due: mypy

feat(api): MED-14 / compte de demo au format Data Connect 2026
  apps/api/src/adapters/demo_adapter.py
  apps/api/src/services/enedis_contract.py
  apps/api/tests/unit/test_demo_adapter_2026.py
Due: mypy

feat(api)!: MED-14 / mode client au format Data Connect 2026
  apps/api/src/adapters/myelectricaldata.py
  apps/api/src/routers/enedis_client.py
  apps/api/src/services/enedis_contract.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/local_data.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_client_mode_2026.py
  apps/api/tests/unit/test_enedis_contract.py
Due: mypy

feat(web): MED-14 / couche d acces aux reponses Enedis Data Connect 2026
  apps/web/src/types/api.ts
  apps/web/src/utils/__tests__/enedisMeasure.test.ts
  apps/web/src/utils/enedisMeasure.ts
Due: eslint, tsc

feat(web)!: MED-14 / front au format Enedis Data Connect 2026
  apps/web/src/api/enedis.ts
  apps/web/src/components/CacheExplorer.tsx
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/components/DiagnosticDuplicates.tsx
  apps/web/src/components/PDLDetails.tsx
  apps/web/src/hooks/useUnifiedDataFetch.ts
  apps/web/src/main.tsx
  apps/web/src/pages/Balance/hooks/useBalanceCalcs.ts
  apps/web/src/pages/Balance/hooks/useBalanceData.ts
  apps/web/src/pages/ConsumptionEuro/hooks/useConsumptionEuroCalcs.ts
  apps/web/src/pages/ConsumptionEuro/index.tsx
  apps/web/src/pages/ConsumptionKwh/components/YearlyStatCards.tsx
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionCalcs.ts
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionData.ts
  apps/web/src/pages/ConsumptionKwh/hooks/useConsumptionFetch.ts
  apps/web/src/pages/ConsumptionKwh/index.tsx
  apps/web/src/pages/ConsumptionKwh/types/consumption.types.ts
  apps/web/src/pages/Production/components/YearlyProductionCards.tsx
  apps/web/src/pages/Production/hooks/useProductionCalcs.ts
  apps/web/src/pages/Production/hooks/useProductionData.ts
  apps/web/src/pages/Production/hooks/useProductionFetch.ts
  apps/web/src/pages/Production/index.tsx
  apps/web/src/pages/Production/types/production.types.ts
  apps/web/src/pages/Simulator.tsx
  apps/web/src/utils/demoData.ts
Due: eslint, tsc

docs: MED-14 / documentation Enedis Data Connect 2026
  .claude/rules/enedis.md
  docs/external-apis/enedis-api/data-connect-2026/README.md
  docs/external-apis/enedis-api/endpoint.md
  docs/local-client/index.md
  docs/server-mode/authentication.md
  docs/server-mode/data-flow.md
  docs/server-mode/demo/architecture.md
  docs/server-mode/features/gateway.md
Due: none

fix(api): MED-14 / corrections de la revue Data Connect 2026
  apps/api/src/adapters/enedis.py
  apps/api/src/adapters/enedis_format.py
  apps/api/src/routers/oauth.py
  apps/api/src/services/enedis_contract.py
  apps/api/src/services/local_data.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_client_mode_revue.py
  apps/api/tests/unit/test_enedis_adapter_2026.py
Due: mypy

fix(web): MED-14 / corrections de la revue Data Connect 2026
  apps/web/src/components/DetailedCurve.tsx
  apps/web/src/pages/ConsentRedirect.tsx
  apps/web/src/pages/OAuthCallback.tsx
  apps/web/src/utils/__tests__/enedisMeasure.test.ts
  apps/web/src/utils/enedisMeasure.ts
Due: eslint, tsc

chore(helm): release 2.0.0 [skip ci]
  helm/CHANGELOG.md
  helm/myelectricaldata-client/Chart.yaml
  helm/myelectricaldata-server/Chart.yaml
Due: none

Notes added by 'git notes add'
  50411d9b6c3ba5e1452769da3c0339beded6fd70
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  32d4ebf102a6af964417dddf2ea5bb27726ffc09
Due: none

fix(api): MED-12 / format v5 servi aux conteneurs locaux <= 1.22.0
  apps/api/src/adapters/myelectricaldata.py
  apps/api/src/routers/enedis.py
  apps/api/src/routers/format_negotiation.py
  apps/api/src/services/enedis_legacy.py
  apps/api/tests/unit/test_compat_anciens_clients.py
  apps/web/src/api/client.ts
  docs/external-apis/enedis-api/data-connect-2026/README.md
Due: mypy, eslint, tsc

fix: MED-14 / consentement Data Connect v2 sans code
  apps/api/src/routers/oauth.py
  apps/api/tests/unit/test_oauth_callback_v2.py
  apps/web/src/pages/ConsentRedirect.tsx
  apps/web/src/pages/OAuthCallback.tsx
  apps/web/src/utils/__tests__/oauthCallback.test.ts
  apps/web/src/utils/oauthCallback.ts
Due: mypy, eslint, tsc

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  3413a1a40797aa1a7e7059b860189ac3176f348e
Due: none

fix(api): MED-12 / corrections de la revue de la compatibilité v5
  apps/api/src/routers/format_negotiation.py
  apps/api/src/services/enedis_legacy.py
  apps/api/tests/unit/test_compat_anciens_clients.py
  docs/external-apis/enedis-api/data-connect-2026/README.md
Due: mypy

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  8cb6185d27727d6ff7b51ac4874e6868c8f327dc
Due: none

fix(helm): MED-14 / ENEDIS_API_MODE et ENEDIS_AUTHORIZE_VERSION transmis au backend
  helm/myelectricaldata-server/templates/backend/backend-deployment.yaml
Due: none

chore(helm): release 2.0.1 [skip ci]
  helm/CHANGELOG.md
  helm/myelectricaldata-client/Chart.yaml
  helm/myelectricaldata-server/Chart.yaml
Due: none

Notes added by 'git notes add'
  3fb065a313304b32abc814acb5a455f1c74b597f
Due: none

feat(export): MED-10 / export home assistant compatible content-card-linky
  apps/api/src/routers/export.py
  apps/api/src/scheduler.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/statistics.py
  apps/web/src/api/export.ts
  apps/web/src/pages/HomeAssistant.tsx
  apps/web/src/pages/MQTT.tsx
  apps/web/src/pages/VictoriaMetrics.tsx
Due: mypy, eslint, tsc

fix(export): MED-10 / export hp/hc vers home assistant et mqtt
  apps/api/src/services/exporters/base.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/exporters/mqtt.py
  apps/api/src/services/statistics.py
  apps/web/src/pages/HomeAssistant.tsx
  apps/web/src/pages/MQTT.tsx
Due: mypy, eslint, tsc

feat(export): MED-10 / module tariff partagé pour la ventilation hp/hc
  apps/api/src/services/exporters/tariff.py
  apps/api/tests/unit/test_tariff.py
Due: mypy

docs(export): MED-10 / documente la ventilation hp/hc et la migration des statistiques
  docs/local-client/integrations/home-assistant.md
  docs/local-client/integrations/mqtt.md
Due: none

fix(export): MED-10 / correctifs de revue de l'export hp/hc
  apps/api/src/services/exporters/base.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/exporters/tariff.py
  apps/api/tests/unit/test_exporters_hp_hc.py
  apps/api/tests/unit/test_tariff.py
Due: mypy

fix(export): MED-10 / pas des relevés au format Data Connect 2026 dans la ventilation hp/hc
  apps/api/src/services/exporters/tariff.py
  apps/api/tests/unit/test_tariff.py
Due: mypy

fix(scheduler): MED-10 / typage du résultat de l'export home assistant
  apps/api/src/scheduler.py
Due: mypy

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  6872699dda56b0199f6e538e714c09ada086587f
Due: none

feat(web): période d'analyse accessible en mode client
  apps/web/src/App.tsx
  apps/web/src/components/AnalysisPeriodSettings.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/PageHeader.tsx
  apps/web/src/components/SEO.tsx
  apps/web/src/pages/Preferences.tsx
  apps/web/src/pages/Settings.tsx
Due: eslint, tsc

docs: MED-14 / retour du consentement Data Connect v2 sans code
  docs/external-apis/enedis-api/data-connect-2026/README.md
  docs/server-mode/features/gateway.md
Due: none

test(api): MED-21 / tests rouges des écarts de l'export home assistant et mqtt
  apps/api/tests/unit/test_exporter_ha_cout.py
  apps/api/tests/unit/test_exporter_ha_discovery.py
  apps/api/tests/unit/test_exporter_mqtt_tempo_ecowatt.py
  apps/api/tests/unit/test_sync_contract.py
Due: none

fix(api): MED-19 / fin de période exclue et cache jour par jour de la puissance max
  apps/api/src/adapters/demo_adapter.py
  apps/api/src/routers/enedis.py
  apps/api/tests/unit/test_enedis_fin_exclue.py
Due: mypy

fix(web): MED-19 / fin de période exclue envoyée à l'API
  apps/web/src/api/__tests__/enedis.test.ts
  apps/web/src/api/enedis.ts
Due: eslint, tsc

fix(api): MED-19 / corrections de la revue (production plafonnée, cache des jours sans mesure)
  apps/api/src/routers/admin.py
  apps/api/src/routers/enedis.py
  apps/api/tests/unit/test_enedis_fin_exclue.py
Due: mypy

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Path conditions:
  mypy: any of: ^apps/api/src/.*\.py$
  eslint: any of: ^apps/web/src/.*\.(ts|tsx)$
  tsc: any of: ^apps/web/src/.*\.(ts|tsx)$
