Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # Backend (Python) linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (backend)
        args: [--fix]
        files: ^apps/api/src/
      - id: ruff-format
        name: ruff format (backend)
        files: ^apps/api/src/

  # Backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy (backend)
        entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: tsc
        name: tsc (frontend)
        entry: bash -c 'cd apps/web && npx tsc --noEmit'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

refactor(web): MED-22 / retirer l'etat du formulaire d'ajout mort et formatValue
  apps/web/src/pages/Contribute/hooks/useAllOffersState.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: eslint, tsc

fix(web): MED-22 / sans fournisseur ou type "all", inviter a selectionner au lieu d'afficher les groupes
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
Due: eslint, tsc

fix(web): MED-22 / dates de groupe en champs controles, avec bordure, effacement et badges
  apps/web/src/pages/Contribute/__tests__/GroupDateEditor.test.tsx
  apps/web/src/pages/Contribute/components/alloffers/OfferGroupCard.tsx
Due: eslint, tsc

fix(offers): MED-10 / wip fevrier 2026, nettoyage des noms d'offres et scraper edf
  apps/api/alembic/versions/20260210_clean_offer_names.py
  apps/api/src/routers/energy_offers.py
  apps/api/src/services/price_scrapers/edf_scraper.py
Due: mypy

refactor(contribute): MED-10 / wip fevrier 2026, decoupage de la page contribute
  apps/web/src/pages/Contribute/__tests__/Contribute.test.tsx
  apps/web/src/pages/Contribute/__tests__/NewContribution.test.tsx
  apps/web/src/pages/Contribute/components/alloffers/AIImportPanel.tsx
  apps/web/src/pages/Contribute/components/alloffers/ConfirmDialog.tsx
  apps/web/src/pages/Contribute/components/alloffers/ExpiredOffersSection.tsx
  apps/web/src/pages/Contribute/components/alloffers/NewGroupForm.tsx
  apps/web/src/pages/Contribute/components/alloffers/NewProviderForm.tsx
  apps/web/src/pages/Contribute/components/alloffers/OfferGroupCard.tsx
  apps/web/src/pages/Contribute/components/alloffers/OfferRow.tsx
  apps/web/src/pages/Contribute/components/alloffers/OfferTypeSelector.tsx
  apps/web/src/pages/Contribute/components/alloffers/PriceFieldsEditor.tsx
  apps/web/src/pages/Contribute/components/alloffers/ProviderSelector.tsx
  apps/web/src/pages/Contribute/components/alloffers/RecapModal.tsx
  apps/web/src/pages/Contribute/components/index.ts
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  apps/web/src/pages/Contribute/components/tabs/MyContributions.tsx
  apps/web/src/pages/Contribute/components/tabs/NewContribution.tsx
  apps/web/src/pages/Contribute/hooks/index.ts
  apps/web/src/pages/Contribute/hooks/useAIImport.ts
  apps/web/src/pages/Contribute/hooks/useAllOffersState.ts
  apps/web/src/pages/Contribute/hooks/useOfferSubmission.ts
  apps/web/src/pages/Contribute/index.tsx
  apps/web/src/pages/Contribute/types/allOffers.types.ts
  apps/web/src/pages/Contribute/types/contribute.types.ts
  apps/web/src/pages/Contribute/types/index.ts
  apps/web/src/pages/Contribute/utils/aiPrompt.ts
  apps/web/src/pages/Contribute/utils/index.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: eslint, tsc

fix(api): MED-22 / scraper EDF, offres Zen Week-End sous leur nom commercial
  apps/api/src/services/price_scrapers/edf_scraper.py
Due: mypy

fix: MED-22 / garder "Option Flex" dans le nom des offres Zen Flex
  apps/api/alembic/versions/20261005_clean_offer_names_v2.py
  apps/api/src/services/offer_names.py
  apps/api/src/services/price_scrapers/edf_scraper.py
  apps/api/tests/integration/test_migration_clean_offer_names_v2.py
  apps/api/tests/unit/test_offer_names.py
  apps/web/src/pages/Contribute/README.md
  apps/web/src/pages/Contribute/__tests__/offerPricing.test.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: mypy, eslint, tsc

fix: MED-17 / corrections de la revue du lot 4 (préfixe, sondes de santé, tempo, env.js)
  apps/api/src/main.py
  apps/api/src/middleware/trusted_host.py
  apps/api/src/routers/export.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_client_mode_pr110.py
  apps/web/entrypoint.sh
  apps/web/src/components/PDLDetails.tsx
  apps/web/src/pages/HomeAssistant.tsx
  docs/local-client/configuration.md
Due: mypy, eslint, tsc

fix: MED-22 / ne plus envoyer la cle de groupe du front comme nom d'offre
  apps/api/alembic/versions/20261005_clean_offer_names_v2.py
  apps/api/src/services/offer_names.py
  apps/api/tests/integration/test_migration_clean_offer_names_v2.py
  apps/web/src/pages/Contribute/__tests__/offerPricing.test.ts
  apps/web/src/pages/Contribute/hooks/useOfferSubmission.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: mypy, eslint, tsc

fix: MED-22 / migration plus sure (offres courantes, references, noms jamais vides)
  apps/api/alembic/versions/20261005_clean_offer_names_v2.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/offer_names.py
  apps/api/tests/integration/test_migration_clean_offer_names_v2.py
  apps/api/tests/unit/test_offer_names.py
  apps/web/src/pages/Contribute/__tests__/offerPricing.test.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: mypy, eslint, tsc

fix(web): MED-22 / corrections de la revue du decoupage de la page Contribute
  apps/web/src/pages/Contribute/components/alloffers/OfferGroupCard.tsx
  apps/web/src/pages/Contribute/components/alloffers/OfferTypeSelector.tsx
  apps/web/src/pages/Contribute/components/tabs/AllOffers.tsx
  apps/web/src/pages/Contribute/hooks/useAllOffersState.ts
  apps/web/src/pages/Contribute/hooks/useOfferSubmission.ts
  apps/web/src/pages/Contribute/utils/offerPricing.ts
Due: eslint, tsc

fix(api): MED-22 / migration clean_offer_names_v2 portable PostgreSQL et SQLite
  apps/api/alembic/versions/20261005_clean_offer_names_v2.py
  apps/api/tests/integration/test_migration_clean_offer_names_v2.py
Due: none

docs: MED-22 / specs de la page Contribute sans l'onglet Nouvelle contribution
  apps/web/src/pages/Contribute/utils/offerPricing.ts
  docs/specs/pages/contributes/02-new-offers.md
  docs/specs/pages/contributes/03-my-offers.md
  docs/specs/pages/contributes/exemple-import-json.md
Due: eslint, tsc

docs: MED-22 / retirer la spec new-offers de la barre laterale de la doc
  .claude/skills/web/SKILL.md
  apps/docs/sidebars.ts
Due: none

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  9e39648d6ef5eaf9f1f9ea606de802d3943a1103
Due: none

docs: MED-22 / nom d'offre = nom commercial seul dans la doc des offres et de la page Contribute
  docs/server-mode/offers/README.md
  docs/specs/pages/contributes/01-offers.md
Due: none

fix(api): MED-17 / puissance max : plage de dates inversée refusée
  apps/api/src/routers/enedis_client.py
  apps/api/tests/unit/test_client_mode_pr110.py
Due: mypy

chore(helm): release 2.1.0 [skip ci]
  helm/CHANGELOG.md
  helm/myelectricaldata-client/Chart.yaml
  helm/myelectricaldata-server/Chart.yaml
Due: none

Notes added by 'git notes add'
  9620e5258cd7581e97c87af8d3ee886c11a0cd79
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  1fb571b696658664a80f5be8127d3f595f184756
Due: none

fix(api): MED-27 / scraper zen flex aligné sur la convention des offres de la passerelle
  apps/api/src/services/price_scrapers/edf_scraper.py
  docs/server-mode/offers/edf.md
  docs/specs/pages/contributes/01-offers.md
Due: mypy

feat(export): MED-27 / capteurs zen flex et coût énergie au calendrier
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/exporters/mqtt.py
  apps/api/tests/unit/test_exporter_ha_cout.py
  apps/api/tests/unit/test_exporter_zen_flex.py
Due: mypy

feat(api): MED-27 / calendrier EDF Zen Flex (source, cache, route, synchro client)
  apps/api/alembic/versions/20261005_2200_e7f1a2b3c4d5_add_zen_flex_days.py
  apps/api/src/adapters/myelectricaldata.py
  apps/api/src/main.py
  apps/api/src/models/__init__.py
  apps/api/src/models/zen_flex_day.py
  apps/api/src/routers/__init__.py
  apps/api/src/routers/sync.py
  apps/api/src/routers/zen_flex.py
  apps/api/src/scheduler.py
  apps/api/src/services/edf_zen_flex.py
  apps/api/src/services/scheduler.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_edf_zen_flex.py
  apps/api/tests/unit/test_sync_zen_flex.py
Due: mypy

fix(export): MED-27 / cast sqlalchemy masqué par typing.cast
  apps/api/src/services/exporters/home_assistant.py
Due: mypy

feat(export): MED-27 / heures creuses zen flex de la grille fournisseur edf
  apps/api/src/services/exporters/base.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/exporters/tariff.py
  apps/api/tests/unit/test_exporters_hp_hc.py
Due: mypy

feat(web): MED-27 / entités zen flex dans la page home assistant
  apps/web/src/pages/HomeAssistant.tsx
Due: eslint, tsc

docs: MED-27 / calendrier zen flex, capteurs, topics et coût
  docs/external-apis/edf-zen-flex.md
  docs/external-apis/index.md
  docs/local-client/architecture.md
  docs/local-client/exporters.md
  docs/local-client/integrations/home-assistant.md
  docs/local-client/integrations/mqtt.md
  docs/server-mode/architecture.md
  docs/server-mode/index.md
Due: none

revert(api): MED-27 / scraper zen flex remis sur la convention du front
  apps/api/src/services/price_scrapers/edf_scraper.py
  docs/server-mode/offers/edf.md
  docs/specs/pages/contributes/01-offers.md
Due: mypy

fix(export): MED-27 / corrections de la revue zen flex
  apps/api/src/routers/zen_flex.py
  apps/api/src/scheduler.py
  apps/api/src/services/edf_zen_flex.py
  apps/api/src/services/exporters/base.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/src/services/exporters/mqtt.py
  apps/api/src/services/exporters/tariff.py
  apps/api/src/services/scheduler.py
  apps/api/src/services/sync.py
  apps/api/tests/unit/test_edf_zen_flex.py
  apps/api/tests/unit/test_exporter_ha_cout.py
  apps/api/tests/unit/test_exporter_zen_flex.py
  apps/api/tests/unit/test_exporters_hp_hc.py
  docs/local-client/integrations/home-assistant.md
  docs/local-client/integrations/mqtt.md
  docs/server-mode/offers/edf.md
Due: mypy

fix(export): MED-27 / zen flex sur le préfixe d'entités de MED-17 et migration chaînée
  apps/api/alembic/versions/20261005_2200_e7f1a2b3c4d5_add_zen_flex_days.py
  apps/api/src/services/exporters/home_assistant.py
  apps/api/tests/unit/test_exporter_zen_flex.py
Due: mypy

docs: MED-17 / planning du scheduler et préfixe des entités home assistant à jour
  docs/local-client/architecture.md
  docs/local-client/integrations/home-assistant.md
Due: none

docs: MED-27 / zen flex dans les règles des deux modes et le readme
  .claude/rules/modes.md
  README.md
Due: none

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  6b2c1bb2656e3fc9a0ec890dd459e2ae80729b43
Due: none

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  660e5aa413f25667b95aef78a691690c37c9ceef
Due: none

docs: MED-29 / page Préférences du mode client dans le menu et les routes
  docs/local-client/interface.md
  docs/specs/pages/_menu.md
Due: none

test(web): MED-29 / période d'analyse et lien préférences en mode client
  apps/web/src/components/__tests__/AnalysisPeriodSettings.test.tsx
  apps/web/src/components/__tests__/Layout.preferences.test.tsx
Due: eslint, tsc
