Repository MyElectricalData/myelectricaldata_new: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # Backend (Python) linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        name: ruff (backend)
        args: [--fix]
        files: ^apps/api/src/
      - id: ruff-format
        name: ruff format (backend)
        files: ^apps/api/src/

  # Backend type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy (backend)
        entry: bash -c 'cd apps/api && uv run mypy src --ignore-missing-imports'
        language: system
        files: ^apps/api/src/.*\.py$
        pass_filenames: false

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c 'cd apps/web && npm run lint'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: tsc
        name: tsc (frontend)
        entry: bash -c 'cd apps/web && npx tsc --noEmit'
        language: system
        files: ^apps/web/src/.*\.(ts|tsx)$
        pass_filenames: false

Notes added by 'git notes add'
  17c66d432e213919446c04505f649d1a1014e018
Due: none

Notes added by 'git notes add'
  96120b7acd56937df41c6d320cfdba7045870f52
Due: none

chore(release): 1.1.0-dev.6 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

fix(web): sync OfferSelector state on page navigation
  apps/web/src/components/OfferSelector.tsx
Due: eslint, tsc

chore(release): 1.1.0-dev.7 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  1c6a442f557c0450e98f4e455416fdc9efcce965
Due: none

ci: auto-sync develop with main after merge
  .github/workflows/sync-develop.yml
Due: none

feat(web): add JSON download button for API credentials
  apps/web/src/pages/Signup.tsx
Due: eslint, tsc

Notes added by 'git notes add'
  bbb22566a75cbe662f831f35084602ed7503e9bf
Due: none

Notes added by 'git notes add'
  75a2c6099ae1af6da10176b248f2f82df0e09475
Due: none

fix(ci): disable ARM64 build by default to speed up CI
  .github/workflows/docker-release.yml
  .github/workflows/release.yml
Due: none

Release 1.2.0 (#87)
  .github/workflows/docker-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-develop.yml
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  apps/web/src/components/OfferSelector.tsx
  apps/web/src/components/PDLCard.tsx
  apps/web/src/pages/Signup.tsx
  apps/web/src/utils/offpeakHours.ts
  package.json
Due: eslint, tsc

chore(release): 1.2.0-dev.3 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  ce3feffaf70fdde199e6c3cabb15e2a5de539364
Due: none

Notes added by 'git notes add'
  a30c82790c5c18d3977d30774071dc917ff41569
Due: none

Notes added by 'git notes add'
  87844e6dddf3094c3db3544322815d65f385f4be
Due: none

chore(release): 1.2.0-dev.5 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  8debaaa728e8bc09571565e91b9f20657eb9a71b
Due: none

refactor(web): consolidate info blocks in Simulator page
  apps/web/src/pages/Simulator.tsx
Due: eslint, tsc

chore(release): 1.2.0-dev.6 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  400d1e676088b9197461beea1df97c6718c56d6a
Due: none

Notes added by 'git notes add'
  19f5ccb99afdfa1b8c70df3a5c49db7628e919ec
Due: none

Notes added by 'git notes add'
  dd36fca8d3a46c941e7bdf1bf75732871227b712
Due: none

chore(release): 1.3.0-dev.2 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  7e0c0ed78ae5f0f0849b18c3ce40955d927c48d9
Due: none

fix(api): correct type annotation for cached_data in admin router
  apps/api/src/routers/admin.py
Due: mypy

Notes added by 'git notes add'
  d08de0c44dc66812fbfd2fd7d1e120d078630774
Due: none

chore(release): 1.4.0-dev.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

fix: address Copilot review suggestions
  apps/api/src/routers/accounts.py
  apps/web/src/components/PageHeader.tsx
Due: mypy, eslint, tsc

Notes added by 'git notes add'
  bd9875f079b42c1c45cc584cac72a8bf7d108eef
Due: none

Notes added by 'git notes add'
  d1834a437e0c540b6de6dce5172f33809441ac4f
Due: none

security: migrate JWT auth from localStorage to httpOnly cookies
  apps/api/src/config/settings.py
  apps/api/src/main.py
  apps/api/src/middleware/auth.py
  apps/api/src/routers/accounts.py
  apps/api/uv.lock
  apps/web/src/api/client.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/AdminOffers.tsx
  apps/web/src/pages/ApiDocs.tsx
  apps/web/src/pages/ConsentRedirect.tsx
  apps/web/src/pages/OAuthCallback.tsx
  apps/web/src/pages/Settings.tsx
  apps/web/src/stores/authStore.ts
  helm/myelectricaldata/templates/backend/backend-deployment.yaml
  helm/myelectricaldata/values.yaml
Due: mypy, eslint, tsc

Notes added by 'git notes add'
  577860eecb6f67446f5942ff977ae41c2e950efd
Due: none

chore(release): 1.4.1-dev.1 [skip ci]
  CHANGELOG.md
  apps/api/pyproject.toml
  apps/web/package.json
  package.json
Due: none

Notes added by 'git notes add'
  0f0242c6dca5c1b2fb713ba3728597e3d9c5064c
Due: none

chore(helm): release 1.0.0-dev.4 [skip ci]
  helm/CHANGELOG.md
  helm/myelectricaldata/Chart.yaml
Due: none

Notes added by 'git notes add'
  a3a2a12f456d72c50057b583a153ac1c472dcee7
Due: none

Notes added by 'git notes add'
  27a6fc5e868b6eb593027953b0343688a24c2b22
Due: none

security: require SECRET_KEY in production
  apps/api/src/config/settings.py
Due: mypy
